<!--Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done!-->
<div class="container">
  <h2>Result</h2>
  <h3><%= @message %></h3>
  <div class='score-container'>
    <p><span class="icon"><i class="far fa-comment-dots fa-fw"></i></span>Your word: <%= @word %></p>
    <p><span class="icon"><i class="fas fa-hourglass-half fa-fw"></i></span>Time Taken to Answer: <%= @time %></p>
    <p><span class="icon"><i class="fas fa-trophy fa-fw"></i></span>Your score: <%= @score %></p>
  </div>

  <div class="new-button"><%= link_to 'Start New Game', root_path %></div>
</div>
